{% extends "base.html"%}
    
{%block title%} {{block.super}} | Index {%endblock title%}

{%block content%}
    <ol>
        <li><a href="/">index ROOT</a></li>
        <li><a href="{% url 'prima_app:homepage'%}">home page</a></li>
        <li><a href="{% url 'prima_app:welcome'%}">welcome</a></li>
        <li><a href="{% url 'prima_app:lista'%}">lista</a></li>
        <li><a href="{% url 'prima_app:chi_siamo'%}">chi_siamo</a></li>
        <li><a href="{% url 'prima_app:variabili'%}">variabili</a></li>
    </ol>

 {%endblock content%}