<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PRIMO PROGETTO - ROOT MENU'</h1>
    <ol>
        <li><a href="/admin">pannello admin</a></li>
        <li><a href="{% url 'prima_app:index'%}">index prima app</a></li>
        <li><a href="{% url 'seconda_app:index_seconda'%}">index seconda app</a></li>
        <li><a>.....</a></li>
    </ol>
    <!-- <a href="/admin">Pannello admin</a>, {% url 'prima_app:index'%} -->
</body>
</html>