{% extends "base.html"%}
{%block title%}
    {{ Query }}
{%endblock title%}

{%block content%}

    <p>{{ articoli_cognome }}</p>
    <p>{{ articoli_cognome}}</p>
    <p>{{ numero_totale_articoli}}</p>
    <p>{{ numero_articoli_giornalista}}</p>
    <p>{{ articoli_ordinati}}</p>
    <p>{{ articoli_senza_visualizzazioni}}</p>
    <p>{{ articolo_piu_visualizzato}}</p>
    <p>{{ giornalisti_data}}</p>
    <p>{{ articoli_del_giorno}}</p>
    <p>{{ articoli_periodo}}</p>
    <p>{{ giornalisti_nati}}</p>
    <p>{{ articoli_giornalisti}}</p>
    <p>{{ giornalista_giovane}}</p>
    <p>{{ giornalista_anziano}}</p>
    <p>{{ ultimi}}</p>
    <p>{{ articoli_minime_visualizzazioni}}</p>
    <p>{{ articoli_parola}}</p>
    <p>{{articoli_mese_anno }}</p>
    <p>{{giornalisti_con_articoli_popolari }}</p>
    <p>{{articoli_con_and }}</p>
    <p>{{ articoli_con_or }}</p>
    <p>{{articoli_con_not }}</p>

{%endblock content%}